.EquipmentCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 1rem 5rem 1rem;

  .EquipmentCard,
  .EquipmentBackpackCard {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;

    .ContainerDivision {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 100%;
      .imgDaypack_bag {
        width: 40%;
        height: 40%;
        margin-left: 10%;
        border-radius: 10px;
        border: 1px solid lightgrey;
      }
    }

    .EquipmentCardTitleBox,
    .EquipmentBackpackCardTitleBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid lightgrey;
    }

    h2 {
      font-family: var(--fontFamilyTitle);
      font-size: var(--fontSizeH3);
      margin-bottom: 1%;
      color: var(--whiteGoldColor);
      margin: 1rem;
    }

    h3 {
      font-family: var(--fontFamilyTitle);
      font-size: var(--fontSizeH4);
      margin-bottom: 1%;
      color: var(--whiteGoldColor);
    }

    .EquipmentCardContentBox,
    .EquipmentBackpackCardContentBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
    }
    p {
      text-align: left;
      color: var(--whiteGoldColor);
      margin-bottom: 1rem;
      font-size: var(--fontSizeText);
    }
  }
}

@media screen and (min-width: 768px) {
  .EquipmentCardContainer {
    padding: 0 2rem 0 2rem;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 5rem;

    .EquipmentCardContentBox,
    .EquipmentBackpackCardContentBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
    }
    .EquipmentCard,
    .EquipmentBackpackCard {
      width: 39rem;
      min-height: 300px;
      padding: 0;

      .ContainerDivision {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        margin-bottom: 1%;
        .imgDaypack_bag {
          width: 30%;
          height: 30%;
          margin-left: 3%;
          border-radius: 10px;
          border: 1px solid lightgrey;
        }
      }

      h2 {
        font-family: var(--fontFamilyTitle);
        font-size: var(--fontSizeH2);
        margin-bottom: 1%;
        color: var(--whiteGoldColor);
        margin: 1rem;
      }

      h3 {
        font-family: var(--fontFamilyTitle);
        font-size: var(--fontSizeH3);
        margin-bottom: 1%;
        color: var(--whiteGoldColor);
      }
      p {
        text-align: left;
        color: var(--whiteGoldColor);
        margin-bottom: 1rem;
        font-size: var(--fontSizeText);
        padding: 0.2em 2.8em 0.2em 2em;
      }
    }
  }
}
